{% extends "base.njk" %}
{% block titulo %}Libros | Editar{% endblock %}
{% block contenido %}
    <h1>Edición de tarea existente</h1>
    {% if (tarea) %}
        <form action="/tareas/{{ tarea.id }}" method="post">
            <input type="hidden" name="_method" value="put"/>
            <div class="form-group mb-3">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre de la tarea..." value="{{ tarea.titulo }}"/>
            </div>
            <div class="form-group mb-3">
                <label for="prioridad">Prioridad:</label>
                <input type="text" class="form-control" name="prioridad" placeholder="Prioridad de la tarea..." value="{{ tarea.prioridad }}"/>
            </div>
            <div class="form-group mb-3">
                <label for="fecha">Precio:</label>
                <input type="text" class="form-control" name="fecha" placeholder="Fecha de la tarea..." value="{{ tarea.fecha }}"/>
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    {% else %}
        <div class="alert alert-danger">Tarea no especificado</div>
    {% endif %}
{% endblock %}